body {
  font-family: proxima-nova;
  margin: 0;
	color: #364347;
}

.header-color {
  color: #255a70;
}

/* NAVIGATION STYLING */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0px 2px 14px rgba(48,49,51,0.1);
  height: 60px;
  position: fixed;
  top: 0;
  transition: top .4s;
  width: 100%;
  background-color: white;
  z-index: 3;
}

/* BIDROCKET LOGO STYLING */
.nav-logo a img {
  height: 50px;
  transition: height .2s ease-in-out;
  padding-left: 10px;
}

/* NAVIGATION LINK STYLING */
.nav-link {
  padding: 0 10px;
}

nav span a {
  text-decoration: none;
  color: #255a70;
  font-weight: 400;
  font-size: 18px;
}

nav span a:hover {
  color: #007db3;
}

/* LOGIN BUTTON STYLIMG */
#log-in {
  padding: 11px 36px;
  border: 1px solid #50b99f;
  border-radius: 4px;
  color: #50b99f;
  transition: padding .2s ease-in-out;
}

#log-in:hover {
  color: white;
  background-color: #50b99f;
}

/* SIGNUP BUTTON STYLING */
#sign-up {
  color: white;
  font-weight: bold;
  padding: 11px 36px;
  background-image: linear-gradient(44deg, #E54921, #f2b031);
  border-radius: 4px;
  transition: padding .2s ease-in-out;
}

#sign-up:hover {
  background-image: linear-gradient(44deg, #FF3D0D, #FFB119);
}

/* SIDEBAR LOGIN BUTTON STYLING */
#sidenav-logIn {
  width: 115px;
  padding: 6px 36px;
  border: 1px solid #60b99f;
  border-radius: 4px;
  font-size: 18px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  background-color: #60b99f;
}

#sidenav-logIn:hover {
  background-color: #5fb99ebf;
  border-color: #5fb99e00;
  color: #FFFFFF;
}

#hamburger {
  font-size: 32px;
}

/* LARGE DEVICE MEDIA QUERY */
@media only screen and (max-width: 1200px) {
  nav span a {
    font-size: 18px;
  }

  #sign-up {
    padding: 8px 20px;
  }

  #log-in {
    padding: 7px 20px;
  }

  .nav-logo a img {
    height: 40px;
  }
}

/* LAPTOP MEDIA QUERY */
@media only screen and (max-width: 992px) {
  .nav-link {
    display: none;
  }

  #hamburger {
    display: inline-block;
  }
}

/* TABLET-MOBILE MEDIA QUERY */
@media only screen and (min-width: 993px) {
  #hamburger {
    display: none;
  }
}

#hamburger {
  color: #255a70;
  transition: color .25s;
  padding-right: 10px;
}

#hamburger:hover {
  color: #f04c23;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #01435c;
  overflow-x: hidden;
  transition: width .75s;
  padding-top: 60px;
}

.sidenav a {
  margin: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  width: fit-content;
  transition: .3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f04c23;
}

.sidenav .closebtn {
  position: absolute;
  padding: 0;
  top: 0;
  right: 5px;
  font-size:36px;
  margin-left: 50px;
}

/* HERO CONTENT */
.content_container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  position: relative;
  grid-template-rows: auto auto auto 50px auto auto auto 50px auto;
  top: 72px;
}

#starry_header {
  grid-column: 1/-1;
  width: 100%;
}

.hero_content {
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.hero_header {
  color: white;
  font-size: 5rem;
  font-size: 6.032vw;
  margin-bottom: 5rem;
  margin-bottom: 5.602vw;
  margin-top: 5rem;
  margin-top: 5.602vw;
}

.hero_card {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 16px 24px 0 rgba(48,49,51,0.1);
  position: relative;
  /* top: 20px; */
}

.hero_card_header {
  font-size: 3rem;
  font-size: 3.361vw;
  width: 75%;
  margin-bottom: 1rem;
}

.hero_card_text {
    width: 85%;
    font-size: 1.75rem;
    font-size: 1.961vw;
    margin-top: 0;
}

.transition_rocket {
  grid-column: 2/3;
  grid-row: 2/3;
  z-index: 1;
  transform: scaleX(-1);
  justify-self: end;
  margin-right: 45px;
  align-self: center;
  margin-top: 30px;
  height: 17.27vw;
}

.support_container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: auto;
  grid-column: span 3;
  grid-row: 3/4;
}

.support_section_header {
    font-size: 3.361vw;
    grid-column: 2/3;
    justify-self: center;
    margin-bottom: 0;
}

.support_section_subheader {
  font-size: 1.961vw;
  grid-column: 2/3;
  font-weight: normal;
  margin-top: 12px;
  width: 90%;
  text-align: center;
  justify-self: center;
}

.avatar_container {
  display: grid;
  grid-column: 1/4;
  grid-template-areas:
    ". left_avatar right_avatar .";

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.left_avatar {
  display: flex;
  flex-direction: column;
  grid-area: left_avatar;
  align-items: center;
}

.right_avatar {
  display: flex;
  flex-direction: column;
  grid-area: right_avatar;
  align-items: center;
}

#left-avatar-image, #right-avatar-image {
  height: auto;
  width: 10vw;
}

.avatar_name {
  margin: 0;
  font-size: 1.5rem;
  font-size: 2vw;
  font-weight: bold;
}

.avatar_subheader {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
  font-size: 1.333vw;
}

.secondary_support_container {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary_support_header {
  font-size: 3.361vw;
  grid-column: 2/3;
  text-align: center;
  margin: 0;
}

.secondary_support_section_subheader {
  font-size: 1.961vw;
  grid-column: 2/3;
  text-align: center;
  width: 95%;
  margin-top: 12px;
  margin-bottom: 0;
  justify-self: center;
  font-weight: normal;
}

.secondary_support_section_subheader a, .pricing-link {
  color: #f04c23;
  text-decoration: none;
  display: inline-block;
  font-size: inherit;
  position: relative;
}

.secondary_support_section_subheader a:after, .pricing-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F04C23;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.secondary_support_section_subheader a:hover:after, .pricing-link:hover:after {
  width: 100%;
  left: 0;
}

.get-started-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 40px;
  height: 3.77vw;
  width: 288px;
  width: 20vw;
  color: #50b99f;
  font-size: 16px;
  font-size: 1.5vw;
  border: solid 1px #50b99f;
  border-radius: .25rem;
  border-radius: 4px;
  margin-top: 48px;
  margin-top: 3.33vw;
  margin-bottom: 104px;
  margin-bottom: 7.22vw;
  text-decoration: none;
  justify-self: center;
}

.get-started-button:hover {
  color: white;
  background-color: #50b99f;
}

.footer-rockets {
  margin-top: -110px;
  margin-top: -7.638vw;
  width: 1090px;
  width: 75.694vw;
  margin-left: 205px;
  margin-left: 14.2361vw;
  grid-row: 6/7;
  grid-column: 1/-1;
  position: absolute;
}

#starry_footer {
  grid-row: 7/8;
  grid-column: 1/-1;
  width: 100%;
  height: 108vw;
}

.footer-container {
  grid-row: 7/8;
  grid-column: 2/3;
  display: flex;
  margin-top: 13vw;
  flex-direction: column;
  align-items: center;
}

.yellow-header {
  width: 820px;
  width: 66.94vw;
  text-align: center;
  font-size: 45px;
  font-size: 3.361vw;
  line-height: 56px;
  line-height: 3.88vw;
  color: #F2B031;
  font-weight: bold;
  margin: 0 auto;
}

.form-header {
  margin-top: 4rem;
  font-size: 3.361vw;
  color: white;
  margin-bottom: 0;
}

.form-subheader {
  text-align: center;
  font-size: 1.961vw;
  color: white;
  font-weight: 400;
  line-height: 2rem;
  margin-top: .5rem;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

input#name.input {
  color: black;
  border: 1px solid #AFB4B5;
  border-radius: 4px;
  height: 1.25rem;
  margin-bottom: 1rem;
  padding: .694vw 0 .694vw 1.11vw;
  width: 42.22vw;
  font-size: 1rem;
  font-family: proxima-nova;
}

input#email.input {
  color: black;
  border: 1px solid #AFB4B5;
  border-radius: 4px;
  height: 1.25rem;
  margin-bottom: 1rem;
  padding: .694vw 0 .694vw 1.11vw;
  width: 42.22vw;
  font-size: 1rem;
  font-family: proxima-nova;
}

textarea#message.input {
  color: black;
  border: 1px solid #AFB4B5;
  border-radius: 4px;
  height: 90px;
  margin-bottom: .5rem;
  padding: .694vw 0 .694vw 1.11vw;
  width: 42.22vw;
  font-size: 1rem;
  font-family: proxima-nova;
}

input.send-button {
  height: 40px;
  height: 3.77vw;
  color: #FFFFFF;
  background-color: #50b99f;
  font-size: 16px;
  font-size: 1.5vw;
  border: solid 1px #50b99f;
  border-radius: .25rem;
  border-radius: .277vw;
  margin-top: 16px;
  margin-top: 1.11vw;
  font-family: proxima-nova;
  font-weight: 400;
}

input.send-button:hover {
  background-color: #5CD4B6;
  border: solid 1px #5CD4B6;
  cursor: pointer;
}

input.send-button:active {
  background-color: #45A18A;
  border: solid 1px #45A18A;
}

.footer-card {
  grid-column: 2/3;
  grid-row: 9/10;
  background-color: white;
  height: 30vw;
  position: relative;
  width: 70%;
  justify-self: center;
  padding: 30px;
  top: -33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 16px 24px 0 rgba(48,49,51,0.1);
  border-radius: 10px;
  padding-bottom: 7vw;
}

.footer-card-header {
  font-size: 3.361vw;
  text-align: center;
  margin-bottom: 0;
  width: 80%;
}

.footer-card-text {
  font-size: 1.961vw;
  text-align: center;
  width: 85%;
  margin-bottom: 5vw;
}

.card-button {
	color: white;
	font-weight: bold;
	padding: 11px 36px;
	padding: 1.885vw 3.5vw;
	background-image: linear-gradient(44deg, #f04c23, #f2b031);
	border-radius: 4px;
	letter-spacing: .5px;
	text-decoration: none;
	font-size: 1.5vw;
}

.card-button:hover {
  background-image: linear-gradient(44deg, #FF3D0D, #FFB119);
}

.card-button:active {
  background-image: linear-gradient(44deg, #D6441F, #D89D2C);
}

/* FOOTER */
footer {
	width: 100%;
	display: grid;
	margin: 12vw auto 5vw auto;
	grid-template-columns: 40% 20% 20% 20%;
	grid-row: 9/10;
	grid-column: 1/-1;
}

footer a {
  text-decoration: none;
  color: #364347;
}

.footer-logo {
	grid-column: 1/2;
	align-self: center;
  justify-self: center;
}

.footer-logo img {
  height: auto;
  width: 23.715vw;
  margin: 0 auto;
}

.footer-menu-column-bidrocket {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  font-size: 1.25rem;
  font-size: 1.581vw;
}

.footer-menu-column-support {
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
  font-size: 1.25rem;
  font-size: 1.581vw;
}

.footer-menu-column-company {
  grid-column: 4/5;
  justify-self: center;
  align-self: center;
  font-size: 1.25rem;
  font-size: 1.581vw;
}

.footer-menu-column p {
  padding: 10px 0;
  margin: 0;
}

.footer-menu-column a {
  color: #364347;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  header {
    padding: 0;
  }

  .content_container {
    grid-template-columns: 5% 1fr 5%;
    top: 60px;
  }

  .hero_card {
    padding: 10px;
  }

  .hero_card_header {
    font-size: 4vw;
    width: 90%;
    margin-bottom: .25rem;
  }

  .hero_card_text {
    font-size: 2.3vw;
    margin-top: 8px;
  }

  .support_section_header {
    font-size: 4vw;
  }

  .support_section_subheader, .form-subheader {
    font-size: 2.3vw;
  }

  .secondary_support_header, .yellow-header, .form-header {
    font-size: 3.9vw;
  }

  .secondary_support_section_subheader {
    font-size: 2.3vw;
    width: 100%;
  }

  #left-avatar-image, #right-avatar-image {
    width: 12vw;
  }

  .avatar_name {
    font-size: 2.8vw;
  }

  .avatar_subheader {
    font-size: 2vw;
    letter-spacing: .5px;
  }

  .footer-rockets {
    margin-left: 12.2361vw;
  }

  .yellow-header {
    margin-top: 15px;
  }

  .form-header {
    margin-top: 6vw;
  }

  .form-subheader {
    line-height: initial;
  }

  #starry_footer {
    height: 115vw;
  }

  .footer-card {
    top: -35vw;
    width: 75%
  }

  .footer-card-header {
    font-size: 3.9vw;
  }

  .footer-card-text {
    font-size: 2.3vw;
    width: 90%;
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-logo {
    display: none;
  }

  .footer-menu-column-bidrocket {
    font-size: 2vw;
    grid-column: 1/2;
  }

  .footer-menu-column-support {
    font-size: 2vw;
    grid-column: 2/3;
  }

  .footer-menu-column-company {
    font-size: 2vw;
    grid-column: 3/4;
  }
}

@media only screen and (max-width: 600px) {
  .content_container {
    grid-template-rows: auto 160px auto 50px auto auto auto auto;
  }

  .hero_header {
    font-size: 9.33vw;
    margin-bottom: 2.602vw;
  }

  .hero_card_header, .support_section_header, .secondary_support_header {
    font-size: 4.667vw;
  }

  .hero_card_text, .support_section_subheader, .secondary_support_section_subheader,
  .secondary_support_section_subheader a {
    font-size: 2.667vw;
  }

  .transition_rocket {
    display: none;
  }

  .get-started-button {
    height: 7vw;
    width: 25vw;
    color: white;
    font-size: 2.5vw;
    background-color: #50b99f;
  }
}

@media only screen and (max-width: 440px) {
  .content_container {
    grid-template-rows: auto 210px auto 50px auto auto auto auto;
  }

  .hero_card {
    padding: 0px;
  }

  .hero_card_header, .support_section_header, .secondary_support_header,
  .yellow-header, .form-header {
    font-size: 6.667vw;
  }

  .hero_card_text, .support_section_subheader, .secondary_support_section_subheader,
  .secondary_support_section_subheader a, .form-subheader {
    font-size: 3.667vw;
  }

  .support_section_header {
    text-align: center;
  }

  #left-avatar-image, #right-avatar-image {
    width: 18vw;
  }

  .avatar_name {
    font-size: 3.8vw;
  }

  .avatar_subheader {
    font-size: 3vw;
    text-align: center;
  }

  .get-started-button {
    height: 9vw;
    width: 30vw;
    color: white;
    font-size: 3.667vw;
  }

  .footer-rockets {
    display: none;
  }

  .yellow-header {
    line-height: 5.88vw;
    width: 100%;
  }

  .footer-card {
    display: none;
  }

  #starry_footer {
    height: 140vw;
  }

  input#name.input, input#email.input, textarea#message.input {
    width: 65.5vw;
  }

  input.send-button {
    height: 7.77vw;
    font-size: 3.662vw;
    border-radius: 4px;
  }

  footer {
    margin: 5vw auto;
  }

  .footer-menu-column-bidrocket, .footer-menu-column-support, .footer-menu-column-company {
    font-size: 3.667vw;
  }
}
