body {
  font-family: proxima-nova, sans-serif;
  color: #364347;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 14px rgba(48, 49, 51, 0.1);
  height: 60px;
  position: fixed;
  top: 0;
  transition: top 0.4s;
  width: 100%;
  background-color: white;
  z-index: 3;
}
header div a img {
  height: 50px;
  transition: height 0.2s ease-in-out;
  padding-left: 10px;
}
header nav span {
  margin: 0 10px;
}
header nav span a {
  text-decoration: none;
  color: #255a70;
  font-weight: 400;
  font-size: 18px;
}
header nav span a:hover {
  color: #007db3;
}
header nav #log-in {
  padding: 10px 36px;
  border: 1px solid #50b99f;
  border-radius: 4px;
  color: #50b99f;
  transition: padding 0.2s ease-in-out;
}
header nav #log-in:hover {
  color: white;
  background-color: #50b99f;
}
header nav #sign-up {
  color: white;
  font-weight: bold;
  padding: 11px 36px;
  background-image: linear-gradient(44deg, #E54921, #f2b031);
  border-radius: 4px;
  transition: padding 0.2s ease-in-out;
}
header nav #sign-up:hover {
  background-image: linear-gradient(44deg, #FF3D0D, #FFB119);
}

#sidenav-logIn {
  width: 115px;
  padding: 6px 36px;
  border: 1px solid #60b99f;
  border-radius: 4px;
  font-size: 18px;
  margin: 20px auto 0;
  text-align: center;
  background-color: #60b99f;
}

#sidenav-logIn:hover {
  background-color: #5fb99ebf;
  border-color: #5fb99e00;
  color: #FFFFFF;
}

#hamburger {
  font-size: 32px;
}

@media only screen and (max-width: 1200px) {
  header div a img {
    height: 40px;
  }
  header nav span a {
    font-size: 18px;
  }
  header nav #sign-up {
    padding: 8px 20px;
  }
  header nav #log-in {
    padding: 7px 20px;
  }
}
@media only screen and (max-width: 993px) {
  nav span a {
    display: none;
  }

  #hamburger {
    display: inline-block;
  }
}
@media only screen and (min-width: 993px) {
  #hamburger {
    display: none;
  }
}
#hamburger {
  color: #255a70;
  transition: color 0.25s;
  padding-right: 10px;
}

#hamburger:hover {
  color: #f04c23;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #01435c;
  overflow-x: hidden;
  transition: width 0.75s;
  padding-top: 60px;
}

.sidenav a {
  margin: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  width: fit-content;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f04c23;
}

.sidenav .closebtn {
  position: absolute;
  padding: 0;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

.no-webp .hero-image {
  background: url("../assets/backgrounds/features-background-min.png") no-repeat center;
  background-size: cover;
  background-position: top;
  height: 610px;
  height: 42.361vw;
  width: 100%;
  position: relative;
}

.webp .hero-image {
  background: url("../assets/backgrounds/features-background-min.webp") no-repeat center;
  background-size: cover;
  background-position: top;
  height: 610px;
  height: 42.361vw;
  width: 100%;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  top: 13.2vw;
}
.hero-text h1 {
  font-size: 48px;
  color: white;
  font-weight: 600;
}
.hero-text h2 {
  font-size: 24px;
  color: white;
  margin-top: 16px;
  width: 65%;
  line-height: 30px;
  text-align: center;
}

.hero-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 4.16vw;
  border-radius: 4px;
  background-color: white;
  position: relative;
  top: 11.111vw;
  box-shadow: 0 16px 24px 0 rgba(48, 49, 51, 0.1);
}
.hero-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 40px;
  height: 2.77vw;
  width: 182px;
  width: 12.638vw;
  color: #50b99f;
  font-size: 16px;
  font-size: 1.11vw;
  border: solid 1px #50b99f;
  border-radius: 0.25rem;
  border-radius: 0.277vw;
  margin-bottom: 60px;
  margin-bottom: 4.166vw;
}
.hero-card a:hover {
  background-color: #50b99f;
  color: white;
  cursor: pointer;
  font-family: proxima-nova, sans-serif;
}

.item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 905px;
  width: 62.8472vw;
  height: 232px;
  height: auto;
  padding: 48px 64px 0px 64px;
  padding: 3.33vw 4.44vw 0vw 4.44vw;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  width: 12.5vw;
  height: auto;
  margin-bottom: 48px;
  margin-bottom: 3.33vw;
}
.feature-item img {
  height: 54px;
  height: 3.75vw;
  width: 54px;
  width: 3.75vw;
  padding-bottom: 4px;
  padding-bottom: 0.277vw;
}
.feature-item .phone {
  width: 2.75vw;
}
.feature-item h3 {
  color: #01435C;
  font-size: 18px;
  font-size: 1.25vw;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  margin-top: 0.55vw;
  line-height: 18px;
}

@media only screen and (max-width: 1200px) {
  .feature-item img {
    height: 4.75vw;
    width: 4.75vw;
  }
  .feature-item h3 {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 992px) {
  .webp .hero-image, .no-webp .hero-image {
    height: 44.361vw;
  }

  .hero-text h1 {
    font-size: 4.839vw;
  }
  .hero-text h2 {
    font-size: 2.419vw;
    line-height: 3vw;
  }

  .hero-card {
    width: 85%;
  }
  .hero-card a {
    height: 4.77vw;
    width: 17.638vw;
    font-size: 1.7vw;
  }

  .item-container {
    width: 85%;
  }

  header {
    padding: 0px;
  }

  .feature-item h3 {
    font-size: 1.7vw;
    line-height: 1.9vw;
  }
}
@media only screen and (max-width: 600px) {
  .hero-image {
    height: 44.361vw;
    top: 60px;
    display: flex;
    align-items: center;
  }

  .hero-text {
    top: 0px;
  }
  .hero-text h1 {
    font-size: 8vw;
  }
  .hero-text h2 {
    font-size: 4vw;
    line-height: 4vw;
    width: 90%;
  }

  .hero-card {
    display: none;
  }
}
.rocket-box {
  display: flex;
  justify-content: center;
  padding-top: 5.975vw;
  padding-left: 13.414vw;
}
.rocket-box img {
  height: 19.27vw;
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .rocket-box {
    padding-top: 13.975vw;
  }
}
@media only screen and (max-width: 600px) {
  .content-container {
    grid-template-rows: 100px;
  }

  .rocket-box {
    display: none;
  }
}
.content-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
}
.content-container .dashboard-mockup {
  grid-column: 1/7;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
  padding-top: 30px;
}
.content-container .checklist-mockup {
  grid-column: 7/-1;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.content-container .mockup-textbox {
  grid-column: 7/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.content-container .mockup-textbox .mockup-flex {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}
.content-container .mockup-textbox h2 {
  color: #255a70;
  font-size: 48px;
  font-size: 3.125vw;
  font-weight: 600;
}
.content-container .mockup-textbox p {
  font-size: 24px;
  font-size: 1.66vw;
  line-height: 30px;
  line-height: 2.361vw;
}
.content-container .mockup-textbox-alt {
  grid-column: 2/7;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.content-container .mockup-textbox-alt .mockup-flex {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-container .mockup-textbox-alt h2 {
  color: #255a70;
  font-size: 48px;
  font-size: 3.125vw;
  font-weight: 600;
}
.content-container .mockup-textbox-alt p {
  font-size: 24px;
  font-size: 1.66vw;
  line-height: 30px;
  line-height: 2.361vw;
}
.content-container .mockup-textbox-alt-two {
  grid-column: 2/7;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.content-container .mockup-textbox-alt-two .mockup-flex {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-container .mockup-textbox-alt-two h2 {
  color: #255a70;
  font-size: 48px;
  font-size: 3.125vw;
  font-weight: 600;
}
.content-container .mockup-textbox-alt-two p {
  font-size: 24px;
  font-size: 1.66vw;
  line-height: 30px;
  line-height: 2.361vw;
}
.content-container .mockup-textbox-alt-three {
  grid-column: 2/7;
  grid-row: 6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
}
.content-container .mockup-textbox-alt-three .mockup-flex {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-container .mockup-textbox-alt-three h2 {
  color: #255a70;
  font-size: 48px;
  font-size: 3.125vw;
  font-weight: 600;
}
.content-container .mockup-textbox-alt-three p {
  font-size: 24px;
  font-size: 1.66vw;
  line-height: 30px;
  line-height: 2.361vw;
}
.content-container .header-w-logo {
  display: flex;
  align-items: center;
  height: auto;
  grid-column: 2;
  padding: 5px 0;
}
.content-container .header-w-logo img {
  height: 24px;
  width: 24px;
}
.content-container .header-w-logo h3 {
  font-size: 18px;
  font-size: 1.25vw;
  font-weight: 600;
  color: #868E91;
  padding-left: 8px;
}

@media only screen and (max-width: 992px) {
  .content-container .dashboard-mockup {
    grid-column: 2/11;
  }
  .content-container .mockup-textbox {
    grid-column: 2/11;
    padding: 10px 0;
  }
  .content-container .mockup-textbox h2 {
    font-size: 48px;
  }
  .content-container .mockup-textbox p {
    font-size: 24px;
    line-height: 30px;
  }
  .content-container .mockup-textbox .mockup-flex {
    grid-column: 1/-1;
    justify-content: center;
    text-align: center;
    padding-right: 0px;
  }
  .content-container .header-w-logo {
    justify-content: center;
  }
  .content-container .header-w-logo h3 {
    font-size: 18px;
  }
  .content-container .checklist-mockup {
    grid-column: 2/11;
  }
  .content-container .mockup-textbox-alt {
    grid-row: 4;
    padding: 10px 0;
  }
  .content-container .mockup-textbox-alt h2 {
    font-size: 48px;
  }
  .content-container .mockup-textbox-alt p {
    font-size: 24px;
    line-height: 30px;
  }
  .content-container .mockup-textbox-alt .mockup-flex {
    grid-column: 1/-1;
  }
  .content-container .mockup-textbox-alt-two {
    grid-column: 2/11;
    grid-row: 8;
    text-align: center;
    padding: 10px 0;
  }
  .content-container .mockup-textbox-alt-two h2 {
    font-size: 48px;
  }
  .content-container .mockup-textbox-alt-two p {
    font-size: 24px;
    line-height: 30px;
  }
  .content-container .mockup-textbox-alt-two .mockup-flex {
    grid-column: 1/-1;
  }
  .content-container .mockup-textbox-alt-three {
    grid-column: 2/11;
    grid-row: 12;
    text-align: center;
    padding: 10px 0;
  }
  .content-container .mockup-textbox-alt-three h2 {
    font-size: 48px;
  }
  .content-container .mockup-textbox-alt-three p {
    font-size: 24px;
    line-height: 30px;
  }
  .content-container .mockup-textbox-alt-three .mockup-flex {
    grid-column: 1/-1;
  }
  .content-container .mockup-textbox-alt {
    grid-column: 2/11;
    text-align: center;
    padding-right: 0px;
  }
  .content-container .mockup-flex {
    grid-column: 1/-1;
  }
  .content-container .dashboard-mockup {
    grid-column: 2/11;
  }
}
.footer-background {
  background-image: url(../../resources/assets/backgrounds/compressed-features-footer.png);
  background-size: 100% 100%;
  height: 1200px;
  height: 82.33vw;
  width: 100%;
  margin-top: 50px;
  margin-top: 3.472vw;
}

.footer-header {
  font-size: 45px;
  font-size: 3.125vw;
  color: #F2B031;
  font-weight: bold;
  text-align: center;
  padding: 230px 0px 90px 0;
  padding: 15.972vw 0vw 6.25vw 0vw;
}

.premium-features-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.premium-feature {
  color: #FFFFFF;
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-left: 30px;
  padding-left: 2.0833vw;
  /* width: 400px; */
}
.premium-feature h2 {
  font-size: 18px;
  font-size: 1.25vw;
  color: #FFFFFF;
  font-weight: bold;
  padding-left: 8px;
  padding-left: 0.55vw;
  padding-top: 3px;
  padding-top: 0.20833vw;
}
.premium-feature h3 {
  font-size: 30px;
  font-size: 2.0833vw;
  font-weight: bold;
  padding-top: 10px;
  padding-top: 0.694vw;
  width: 400px;
  width: 27.77vw;
  line-height: 35px;
  line-height: 2.4305vw;
}
.premium-feature h4 {
  font-size: 24px;
  font-size: 1.66vw;
  padding-top: 24px;
  padding-top: 1.66vw;
  width: 380px;
  width: 26.38vw;
  line-height: 35px;
  line-height: 2.4305vw;
}

.premium-feature-header {
  display: flex;
  align-items: center;
  /* padding-left: 60px; */
  /* justify-content: center; */
}
.premium-feature-header img {
  height: 24px;
  height: 1.66vw;
  width: 24px;
  width: 1.66vw;
}
.premium-feature-header h2 {
  font-size: 18px;
  font-size: 1.25vw;
  color: #FFFFFF;
  font-weight: bold;
  padding-left: 8px;
  padding-left: 0.55vw;
  padding-top: 3px;
  padding-top: 0.20833vw;
}

@media only screen and (max-width: 992px) {
  .footer-header {
    font-size: 5.125vw;
  }

  .premium-features-container {
    justify-content: space-around;
  }

  .premium-feature {
    padding: 0px;
  }
  .premium-feature h3 {
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 2.6vw;
  }

  .premium-feature-header img {
    height: 1.75vw;
    width: 1.75vw;
  }
  .premium-feature-header h2 {
    font-size: 1.75vw;
  }
}
@media only screen and (max-width: 600px) {
  header nav span {
    margin: 0px;
  }

  .content-container {
    margin-top: 60px;
  }

  .footer-background {
    height: 108.33vw;
  }

  .premium-feature {
    align-items: center;
    text-align: center;
  }
  .premium-feature h3 {
    font-size: 3.5vw;
    line-height: 3.5vw;
    text-align: center;
  }
  .premium-feature h4 {
    font-size: 2.66vw;
    line-height: 3vw;
    text-align: center;
  }

  .premium-feature-header img {
    height: 2.75vw;
    width: 2.75vw;
  }
  .premium-feature-header h2 {
    font-size: 2.75vw;
    font-weight: bold;
  }
}
.footer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 820px;
  width: 56.94vw;
  height: 550px;
  height: 38.194vw;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 96px;
  margin-top: 7.55vw;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 16px 24px 0 rgba(48, 49, 51, 0.1);
}

.footer-card h1 {
  color: #01435C;
  font-weight: bold;
  line-height: 48px;
  line-height: 3.33vw;
  text-align: center;
  font-size: 45px;
  font-size: 3.125vw;
  padding-top: 70px;
  width: 610px;
  width: 42.361vw;
  padding-top: 4.861vw;
}

.footer-card h2 {
  width: 610px;
  width: 42.361vw;
  padding-top: 24px;
  padding-top: 1.66vw;
  font-size: 24px;
  font-size: 1.66vw;
  color: #364347;
  line-height: 35px;
  line-height: 2.4305vw;
  text-align: center;
  margin: 0 0 0 0;
  margin-bottom: 58px;
  margin-bottom: 4.027vw;
  font-weight: normal;
}

.pricing-link {
  color: #F04C23;
  /* text-transform: uppercase; */
  text-decoration: none;
  /* letter-spacing: 0.15em; */
  display: inline-block;
  /* padding: 15px 20px; */
  position: relative;
  font-size: 1.66vw;
}

.pricing-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F04C23;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}

.pricing-link:hover:after {
  width: 100%;
  left: 0;
}

.get-started-button {
  color: white;
  font-weight: bold;
  padding: 11px 36px;
  padding: 0.7638vw 2.5vw;
  background-image: linear-gradient(44deg, #E54921, #f2b031);
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.get-started-button:hover {
  background-image: linear-gradient(44deg, #FF3D0D, #FFB119);
}

.get-started-button:active {
  background-image: linear-gradient(44deg, #D6441F, #D89D2C);
}

@media only screen and (max-width: 600px) {
  .footer-card {
    width: 90%;
    height: 41.2vw;
  }
  .footer-card h1 {
    font-weight: 600;
    line-height: 5.2vw;
    font-size: 5.125vw;
    width: 80%;
  }
  .footer-card h2 {
    width: 80%;
    font-size: 2.66vw;
    line-height: 2.7vw;
    margin-bottom: 5vw;
  }
  .footer-card .pricing-link {
    font-size: 2.66vw;
  }
  .footer-card .get-started-button {
    font-weight: 600;
    padding: 1.9vw 4.5vw;
  }
}

/*# sourceMappingURL=new_features.css.map */
